/*GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #1A3C40;
  --paragraph-color: black;
  --bg-color: #EDE6DB;
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  background-color:var(--bg-color) ;
  text-align: center;
}
html{
  scroll-behavior: smooth;
}

html,
body{
  width: 100%;
  height: 100%;
}
body a{
  text-decoration: none;
}
h4{
    color: #1D5C63;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 1.2rem;
}
.container{
  text-align: center;
  display:flex;
  height:650px;
  justify-content : center;
  align-items:center;
}

