
/*Formatação do body*/
body{
    margin: 0;
    background-color: #EDE6DB;
}
/*Formatação do header*/
.container_1{
    height: 140px;
    background-color: #1D5C63;
    display: flex;
    color: #EDE6DB;
    text-align: center;
}
.frase_do_site{

    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left:70px;
    font-weight: 500;
}

.logo{
    margin: 10px;
}
.btn {
flex-wrap:wrap-reverse;
margin-left: 10px;

}

/*Formatação do conteúdo principal*/
/*Formatação do dos botões de direcionamento*/

/*Formatação do footer*/
.footer{ 
    height: 80px;
    background-color: #1D5C63;
    color: #EDE6DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
