/*GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #1A3C40;
}

:root{
    --primary-color: #1A3C40;
    --paragraph-color: black;
    --bg-color: #EDE6DB;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color:var(--bg-color) ;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

/*CABEÇALHO*/
header{
    background-color: #1A3C40;
    height: 19rem;
}
.logo{
    margin-inline: auto;
}
.button button{
    margin: auto;
    font-size: 2rem;
    cursor: pointer;
}
/*NAVEGAÇÃO*/
nav{
    margin: 0 auto;
    line-height:3rem;
}
nav a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin: 1rem;
}

nav ul{
    display: flex;
    margin-block: auto;
    justify-content: center;
    align-items:center ;
    list-style:none;
}
nav ul li{
    margin: 2rem;
}
nav ul li a{
    margin: 1rem auto;
}
nav .navegacao ul li a{
    text-decoration: none;

}

/*BOAS VINDAS*/
.boasVindas{
    text-align: center;
}

/*CONTEÚDO*/
section.boasVindas h3{
    opacity: 0.7;
}

div.container-conteudo2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    
}
div.container-conteudo2 .card{
   border-radius: 1.5rem;
}

section .btn a{
    text-decoration: none;
}
section .btn a:hover{
    color: black;
}

svg{
    height: auto;
    max-width: 90%;
    margin: 0 auto;
}
hr{
    margin: 2.7rem;
}
a::after, :hover{
    text-decoration: none;
}
.mais{
    font-size: 5rem;
    text-decoration: none;
}
.guias{
    border: 0.5px solid rgb(170, 170, 170);
    margin: 0 auto;
}
.cadastro{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A3C40;
    color: #EDE6DB;
    font-weight: 500;
    height: 10rem;
}

/*Botão para voltar ao início*/
#voltarParaInicio{
    position: relative;
}


@media (min-width:1024px) {

}